centralnaBanka/src/main/resources/soap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/soap" xmlns:tns="http://www.example.org/soap"
	elementFormDefault="qualified">
	<xs:complexType name="MT103">
		<xs:sequence>
			<xs:element name="idPoruke">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="swiftKodBankeDuznika">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8" />
						<xs:pattern value="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="obracunskiRacunBankeDuznika">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="swiftKodBankePoverioca">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8" />
						<xs:pattern value="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="obracunskiRacunBankePoverioca">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="duznik-nalogodavac">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="svrhaPlacanja">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="primalac-poverilac">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="datumNaloga" type="xs:date" />
			<xs:element name="datumValute" type="xs:date" />
			<xs:element name="racunDuznika">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="modelZaduzenja">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pozivNaBrojZaduzenja">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="racunPoverioca">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="modelOdobrenja">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pozivNaBrojOdobrenja">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="iznos">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sifraValute">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3" />
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MT102">
		<xs:sequence>
			<xs:element name="zaglavljeMT102" type="tns:zaglavljeMT102" />
			<xs:element maxOccurs="unbounded" name="pojedinacnoPlacanjeMT102"
				type="tns:pojedinacnoPlacanjeMT102" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="zaglavljeMT102">
		<xs:sequence>
			<xs:element name="idPoruke">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="swiftKodBankeDuznika">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8" />
						<xs:pattern value="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="obracunskiRacunBankeDuznika">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="swiftKodBankePoverioca">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8" />
						<xs:pattern value="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="obracunskiRacunBankePoverioca">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ukupanIznos">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sifraValute">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3" />
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="datumValute" type="xs:date" />
			<xs:element name="datum" type="xs:date" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pojedinacnoPlacanjeMT102">
		<xs:sequence>
			<xs:element name="idNalogaZaPlacanje">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="duznik-nalogodavac">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="svrhaPlacanja">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="primalac-poverilac">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="datumNaloga" type="xs:string" />
			<xs:element name="racunDuznika">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="modelZaduzenja">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pozivNaBrojZaduzenja">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="racunPoverioca">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="modelOdobrenja">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:totalDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="pozivNaBrojOdobrenja">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="iznos">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sifraValute">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3" />
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MT900">
		<xs:sequence>
			<xs:element name="idPoruke">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="swiftKodBankeDuznika">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8" />
						<xs:pattern value="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="obracunskiRacunBankeDuznika">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="idPorukeNaloga">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="datumValute" type="xs:date" />
			<xs:element name="iznos">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sifraValute">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3" />
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MT910">
		<xs:sequence>
			<xs:element name="idPoruke">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="swiftKodBankePoverioca">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="8" />
						<xs:pattern value="[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="obracunskiRacunBankePoverioca">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="idPorukeNaloga">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="datumValute" type="xs:date" />
			<xs:element name="iznos">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="15" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sifraValute">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="3" />
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MT103Response">
		<xs:sequence>
			<xs:element name="MT103" type="tns:MT103" />
			<xs:element name="MT900" type="tns:MT900" />
			<xs:element name="MT910" type="tns:MT910" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MT102Response">
		<xs:sequence>
			<xs:element name="MT102" type="tns:MT102" />
			<xs:element name="MT900" type="tns:MT900" />
			<xs:element name="MT910" type="tns:MT910" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="sendMT103Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MT103" type="tns:MT103" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sendMT103Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MT103Response" type="tns:MT103Response" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sendMT102Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MT102" type="tns:MT102" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sendMT102Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MT102Response" type="tns:MT102Response" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>